# Entorno virtual
venv/
.env

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Archivos de base de datos locales
db.sqlite3

# Archivos de logs
*.log

# Archivos de migraciones compiladas
*.pot
*.mo

# Archivos de Django
/staticfiles/
/media/

# Archivos de IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
